 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 447px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  font-size: 6rem;
  margin: 169px 101px 0 164px;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 26px;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 69px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 285px 0 auto;
  padding: 9px 37px 11px 36px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -45px auto 16px 322px;
  padding: 9px 27px 11px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: -64px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 85px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -128px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1271px;
}

.u-section-2 .u-image-1 {
  object-position: 31.19% 0%;
  background-position: 31.19% 0%;
  filter: brightness(0.65);
  height: 768px;
  margin: 0;
}

.u-section-2 .u-group-1 {
  min-height: 508px;
  width: 651px;
  margin: -612px calc(((100% - 1140px) / 2) + -11px) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Changa One";
  letter-spacing: 6px;
  font-size: 5rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 40px auto 60px calc(((100% - 1140px) / 2) + -17px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 411px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-2 .u-image-2 {
  width: 187px;
  height: 187px;
  background-image: url('/static/images/images.png');
  background-position: 50% 50%;
  margin: 81px auto 0 65px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 95px 0 0 40px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 509px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  width: 178px;
  height: 178px;
  background-image:url('/static/images/istockphoto-1191733773-612x612.jpg');
  background-position: 50% 50%;
  margin: 81px 63px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 105px 48px 0 69px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 509px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-image-4 {
  width: 174px;
  height: 174px;
  background-image:url('/static/images/graphic-cartoon-character-contact-us-vector-36223433.jpg');
  background-position: 50% 50%;
  margin: 89px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 95px 25px 0 49px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 764px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 229px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 87px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 222px;
    margin-left: 36px;
    margin-right: 15px;
    width: 180px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 420px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 222px;
    margin-left: 15px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 585px;
  }

  .u-section-2 .u-image-1 {
    object-position: 7.13% 100%;
    background-position: 7.13% 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 507px;
    width: 484px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 170px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 58px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 168px;
    margin-left: 0;
    margin-right: 0;
    width: 179px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 168px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1891px;
  }

  .u-section-2 .u-image-1 {
    height: 946px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 417px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 540px) / 2) + 100px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 230px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 87px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 257px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 257px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 71px;
  }

  .u-section-2 .u-image-1 {
    height: 917px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}