{% extends 'accounts/advocateheader.html' %}
{% load static %}
{% block content %}
<head>
           <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .move{
  position: absolute;!important;
    top: 100px;!important;
    left: 30px;!important;
     height: auto;!important;
    width: auto  ;!important;
  }
</style>
</head>
<body>
<div class="move">
<div class="card border-0 rounded-3 shadow">
  <div class="card-header bg-transparent">
    <h3 class="card-title">Requested Lawsuits</h3>
          {% if cases %}
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">Case ID</th>
            <th scope="col">Title</th>
            <th scope="col">Case Description</th>
            <th scope="col"> Proof</th>
            <th scope="col">Assigned By</th>
            <th scope="col">Assigned At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
                {% for case in cases %}
                    <tr>
                        <td>{{ case.assignment.case.case_id }}</td>
                        <td>{{ case.assignment.case.title }}</td>
                        <td>{{ case.case_description }}</td>
                        <td>
                            {% if case.case_proof %}
                                <a href="{{ case.case_proof.url }}" target="_blank">View proof</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>{{ case.assignment.requested_by }}</td>
                        <td>{{ case.assignment.assigned_at }}</td>
                        <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptModal{{ case.assignment.id }}"><i class="fa fa-check" aria-hidden="true"></i>Accept</button>
<div id="acceptModal{{ case.assignment.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Acceptance</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to accept this case?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <a href="{% url 'accept_assignment' case.assignment.id %}"><button type="button" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button></a>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectModal{{ case.assignment.id }}"><i class="fa fa-times" aria-hidden="true"></i>Reject</button>
<div id="rejectModal{{ case.assignment.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Rejection</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to reject this case?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <a href="{% url 'reject_assignment' case.assignment.id %}"><button type="button" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button></a>
            </div>
        </div>
    </div>
</div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No case request at this moment.</p>
    {% endif %}
    </div>
  </div>
</div>
</div>
    </body>
{% endblock content %}